@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html,body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #242424;
    padding:50px;
}
.userlink-container {
    background-color: #404040;
    display: inline-block;
    margin: 10px;
    padding:10px;
}
.userlink {
    color: white;
    text-align: center;
    width: 200px;
    display:inline-block;
    padding:40px;
}
.userlink:hover,.userlink:visited{
    color:white;
}
.userlink-image {
    padding-bottom: 10px;
    width:100%;
    text-align:center;
}
.userlink-text {
    width: 100%;
    font-weight: bold;
    font-family: 'B612', sans-serif;
    /*font-family: 'IBM Plex Serif', serif;*/
}
.invert {
    filter: invert();
}
    .userlink-image img {
        width: 50px;
    }